@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
	background-color: #ECECEC;
	font-family: 'Open Sans', arial, sans-serif;
}

.container {
	max-width: 800px;
}

.logo-container {
	background-image: url('../img/logo-inv.png');
	background-repeat: no-repeat;
	max-width: 356px;
	max-height: 64px;
	width: 356px;
	height: 64px;
}

.btn-block:first-of-type {
	margin-top: 30px;
}

.corazon {
	color: #d9534f;
	font-size: 18px;
}

footer {
	margin-top: 30px;
	text-align: center;
}

ol > li {
	font-weight: bold;
	margin-top: 10px;
}

.main {
	background-color: #ffffff;
	background-color: #ffffff;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0px 0px 7px #000000;
	-webkit-box-shadow: 0px 0px 7px #000000;
	box-shadow: 0px 0px 7px #000000;
	padding:30px;
}